<div class="row full-height">
  <div class="col-xs-4 text-center full-height" ng-repeat="move in MOVES">
    <a class="btn fix-button no-decoration" ng-class="{ 'btn fix-button no-decoration active-move': computerMove == move && showComputer, 'btn fix-button no-decoration': computerMove != move }" type="button" name="button">
      <i class="fa fa-hand-rock-o fix-icon" ng-if="move=='ROCK'"></i>
      <i class="fa fa-hand-scissors-o fix-icon" ng-if="move=='SCISSORS'" aria-hidden="true"></i>
      <i class="fa fa-hand-paper-o fix-icon" ng-if="move=='PAPER'" aria-hidden="true"></i>
    </a>
  </div>
</div>
